
table {
    width: 100%;
    border-collapse: collapse;
}

tr, td { /* gen row/col style */
    padding: 8px;
    border: 1px solid #ddd;
}

td:nth-child(1) {  /* key col */
    width: 60%;
    text-align: left;
}
 
td:nth-child(2) { /* values col */
    width: 20%;
    text-align: right;
    padding-right: 40px;
}

td:nth-child(3) {  /* input box col */
    width: 20%;
    text-align: left;
}
