@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "questrial";
  src: url(../public/fonts/Questrial-Regular.woff2) format("woff2");
}

html {
  font-family: questrial;
  overflow-x: hidden;
  width: 100vw;
}
